<% if current_user %>
  <div id="wishlist-form">
    <%= form_for WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, :value => @product.master.id %>
      <button type="submit" class="large primary">
        <%= image_tag(asset_path 'icons/add-to-cart.png') + t(:add_to_wishlist) %>
      </button>
    <% end %>
  </div>
<% end %>
